<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Menu Item</title>
    </head>
    <body>
        <h1>Edit Menu Item</h1>
        <form method="POST" action="{{url_for('edit_menu_item', restaurant_id=restaurant_id, item_id = item_id)}}">
                <label for="name">Name:<br></label>
                <input type="text" name="name" id="name" placeholder="{{item.name}}"><br><br>

                <label for="description">Description:<br></label>
                <textarea name="description" id="description" placeholder="{{item.description}}"></textarea><br><br>

                <label for="price">Price:<br></label>
                <input type="text" name="price" id="price" placeholder="{{item.price}}"><br><br>


                <p>Course:</p>

                <div>
                  <input type="radio" id="appetizer" name="course" value="Appetizer" {% if item.course == "Appetizer" %} checked {% endif %}>
                  <label for="appetizer">Appetizer</label>
                </div>

                <div>
                  <input type="radio" id="entree" name="course" value="Entree" {% if item.course == "Entree" %} checked {% endif %}>
                  <label for="entree">Entree</label>
                </div>

                <div>
                  <input type="radio" id="dessert" name="course" value="Dessert" {% if item.course == "Dessert" %} checked {% endif %}>
                  <label for="dessert">Dessert</label>
                </div>
                <br><br>
                <input type="submit" value="Edit"> <a href="{{url_for('show_menu', restaurant_id=restaurant_id)}}">Cancel<a>
        </form>
    </body>
</html>
